@font-face {
    font-family: 'MapoAgape';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoAgape.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoAgape.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoAgape.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoAgape.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoAgape.ttf') format('truetype');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MapoAgape';
}

html, body {
    width: 100%;
    height: auto%;

}

a {
    text-decoration: none;
    font-family: 'MapoAgape';
    color: #7D5D58;
}

.title {
    font-size: 2em;
}

p {
    display: flex;
    color: #7D5D58;
}

/* Background images for each paragraph */
.bg-image-1 {
    background-image: url('image49.png');
    color: #7D5D58;
    display: flex;
}

.bg-image-1 img {
    display: flex;
    width: 100%; /* 이미지를 화면 너비에 맞춤 */
    height: auto; /* 이미지 높이 자동 조정 */
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;

}
.top a{
    text-decoration: none;
    font-family: 'MapoAgape';
    color: #7D5D58;
    padding: 10px;
}
.top img{
    position: absolute;
    left:5%;
    top:1%;

}



.main-top {
    background-image: url('image49.png');
    color: #7D5D58;
    display: flex;
    justify-content: space-between; /* 아이템 간 공간 분배 */
    align-items: center;
    padding: 2em;
}

.main-top a{
    text-decoration: none;
    font-family: 'MapoAgape';
    color: #7D5D58;
    padding: 10px;
}
.main-top img{
    position: absolute;
    left:5%;
    top:1%;

}
.container {
    display: flex;
    align-items: center; /* 요소들을 세로 중앙에 정렬 */
}

.container img {
    width: 100%; /* 이미지를 화면 너비에 맞춤 */
    height: auto; /* 이미지 높이 자동 조정 */
}

.bottom {
    display: flex;
    align-items: center;

}

.bottom a {
    display: inline;
    align-items: center;
    text-decoration: none; /* 링크 밑줄 제거 */
    color: white; /* 링크 색상 설정 */


}


.container img {
    width: 100%; /* 이미지를 화면 너비에 맞춤 */
    height: auto; /* 이미지 높이 자동 조정 */
}
input {
    display: flex;
    border-width: thin;
    background-color: transparent;
}
