a {
  text-decoration: none;
  font-family: 'MapoAgape';
  color : #7D5D58;
  margin-right: 20px;
}
.title {
  font-size: 2em;
}

p {
    padding: 20px;
    color: #7D5D58;
    font-size: 16px;
    margin: 20px 0;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

/* Background images for each paragraph */
.bg-image-1 {
    background-image: url('image49.png');
    color : #7D5D58;
    display: flex;
}
.bg-image-1 img {
            width: 100%; /* 이미지를 화면 너비에 맞춤 */
            height: auto; /* 이미지 높이 자동 조정 */

        }


.top {
            display: flex;
            justify-content: space-between; /* 아이템 간 공간 분배 */
            align-items: center;
            background-color: #f0f0f0; /* 배경색 설정 */
            padding: 20px; /* 패딩 추가 */
        }
        .link-container img {
            width: 100px; /* 이미지 너비 설정 */
            height: auto; /* 이미지 높이 자동 조정 */
        }
        .links {
            display: flex;
            gap: 10px; /* 링크 간 간격 설정 */
        }
        .links a {
            text-decoration: none; /* 링크 밑줄 제거 */
            color: #333; /* 링크 색상 설정 */
            margin: 0 10px; /* 링크 간 간격 설정 */
        }


.container {
            display: flex;
            align-items: center; /* 요소들을 세로 중앙에 정렬 */
        }
.container img {
            width: 100%; /* 이미지를 화면 너비에 맞춤 */
            height: auto; /* 이미지 높이 자동 조정 */

        }
.bottom {
            background-color: #7A6966; /* 배경색 설정 */
            padding: 20px; /* 패딩 추가 */
            text-align: center; /* 텍스트 중앙 정렬 */
        }
        .bottom a {
            text-decoration: none; /* 링크 밑줄 제거 */
            color: white; /* 링크 색상 설정 */
            margin: 0 10px; /* 링크 간격 설정 */
        }