<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>제목이유</title>
</head>
<body>
<center>
    <a href="/history">역사</a>
    <a href="/story">이야기</a>
    <a href="/style">스타일</a>
    <a href="/menu">메뉴 안내</a>
    <a href="/restaurant">매장 안내</a>
    <a href="/franchise_story">가맹 스토리</a>
    <a href="/franchise">가맹 안내</a>
    <a href="/review">리뷰</a>

</center>

<h1>메인 피드</h1>
{%load static%}
<img src="{% static 'home/test1.png'%}" alt=""test>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cYRN5lT41HY?si=JZfNy4GcPWEO1Jin" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<a href="https://www.instagram.com/chuuo3o?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">인서타</a>
</body>
</html>