<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="icon" href="{% static 'home/main_feed_image/main_feed4.png' %}" type="image/x-icon">

    <title>오일내</title>
</head>
<body>

<div class="top">
    <a href="/">
            <img src="{% static 'home/main_feed_image/main_feed4.png' %}" alt="Main Feed Image 1">
        </a>
    <a href="/history">오일내 스토리</a>
    <a href="/style">오일내 스타일</a>
    <a href="/franchise">가맹 안내</a>
    <a href="/menu">메뉴 안내</a>
    <a href="/restaurant">매장 안내</a>
    <a href="/review">고객센터</a>
    <a href="/story">오일내 소식</a>
</div>


<p>제목</p>
<input type="text" placeholder="제목" />
<p>성명</p><br>
<input type="text" placeholder="성명" />
<p>연락처</p><br>
<input type="text" placeholder="연락처" />
<p>방문지점</p><br>
<input type="text" placeholder="방문지점" />
<p>내용</p><br>
<input type="text" placeholder="내용" />
</body>
</html>