<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="icon" href="{% static 'home/main_feed_image/main_feed4.png' %}" type="image/x-icon">

    <title>오일내</title>
</head>
<body>

<div class="top">
    <a href="/">
            <img src="{% static 'home/main_feed_image/main_feed4.png' %}" alt="Main Feed Image 1">
        </a>
    <a href="/history">오일내 스토리</a>
    <a href="/style">오일내 스타일</a>
    <a href="/franchise">가맹 안내</a>
    <a href="/menu">메뉴 안내</a>
    <a href="/restaurant">매장 안내</a>
    <a href="/review">고객센터</a>
    <a href="/story">오일내 소식</a>
</div>




<div class="container">
        <img src="{% static 'home/story/story1.png' %}" alt="Main Feed Image 1">
    </div>





<div class="bottom">
    <a href="/">
            <img src="{% static 'home/main_feed_image/main_feed3.png' %}" alt="Main Feed Image 1">
        </a>
<a href="/history">오일내 스토리</a>
    <a href="/style">오일내 스타일</a>
    <a href="/franchise">가맹 안내</a>
    <a href="/menu">메뉴 안내</a>
    <a href="/restaurant">매장 안내</a>
    <a href="/review">고객센터</a>
    <a href="/story">오일내 소식</a>
</div>



</body>
</html>