<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="icon" href="{% static 'home/main_feed_image/main_feed4.png' %}" type="image/x-icon">

    <title>오일내</title>
</head>
<body>

<div class="top">
    <a  href="/">
        <img src="{% static 'home/main_feed_image/main_feed4.png' %}" >
    </a>
    <div>&ensp;</div><div>&ensp;</div><div>&ensp;</div><div>&ensp;</div><div>&ensp;</div><div>&ensp;</div>
    <div>&ensp;</div><div>&ensp;</div><div>&ensp;</div><div>&ensp;</div><div>&ensp;</div>

    <a href="/history">오일내 스토리</a>
    <a href="/style">오일내 스타일</a>
    <a href="/franchise">가맹 안내</a>
    <a href="/menu">메뉴 안내</a>
    <a href="/restaurant">매장 안내</a>
    <a href="/review">고객센터</a>
    <a href="/story">오일내 소식</a>

</div>




<div class="container" style="position:relative;">
        <img src="{% static 'home/story/story1.png' %}" alt="Main Feed Image 1">


    <div style="position:absolute; width:40%; height:auto; right:10%; top:20%;">
        {% for list in postlist %}

            <ul>
                <p style="font-size: 1.5vw;" >
                    <a style="padding 0%;href="{{list.pk}}">{{list.postname}}</a></p><br>
                <p style="font-size: 1.2vw;">{{list.contents}}</p>
                <br><br><br>
            </ul>
        {% endfor %}
        </div>



</div>


<div class="bottom" style="position: relative;">
    <img src="{% static 'home/main_feed_image/bottom.png' %}" style="width: 100%;">




    <div style="position: absolute; font-size: 1.1vw; display:inline; left :5%; top:63% ">
        <a href="/history" >오일내 스토리</a><a>&ensp;</a><a>&ensp;</a><a>&ensp;</a>
    <a href="/style">오일내 스타일</a><a>&ensp;</a><a>&ensp;</a><a>&ensp;</a>
    <a href="/franchise">가맹 안내</a><a>&ensp;</a><a>&ensp;</a><a>&ensp;</a>
    <a href="/menu">메뉴 안내</a><a>&ensp;</a><a>&ensp;</a><a>&ensp;</a>
    <a href="/restaurant">매장 안내</a><a>&ensp;</a><a>&ensp;</a><a>&ensp;</a>
    <a href="/review">고객센터</a><a>&ensp;</a><a>&ensp;</a><a>&ensp;</a>

    </div>

    <div style="position: absolute; font-size: 1.1vw; right :14%;line-height:300%; ">
    <a>가맹번호 : 1551-5105 </a><br>
    <a href="/">
        인스타 @5day_official
    </a><br>
    <a>대표자 전현수</a>
    </div>
</div>



</body>
</html>